<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>PC Öresund - Hårdvara</title>
	<meta name="description" content="Vi bygger, du spelar">
	<meta name="keywords" content="PC,gaming,öresund">
	<meta name="author" content="André Johansson">
    <link href="../../style.css" rel="stylesheet" type="text/css" media="all">
    <script type="text/javascript" src="script_item_load.js"></script>
</head>

<body>
    
    <div id="content">
        
        <section id="item-content">
            
                <img src="" id="item-img">
                
                <h1 id="item-title"></h1>
                
                <div id="fulldescription">
                
                	
                
                </div>
                
                <div id="extra">
                
                	<ul>
                    	<li>• 2 års garanti</li>
                        <li>• Beställnigsvara</li>
                    </ul>
                
                </div>
                
                <p id="item-price"></p>

    	</section>
    
</body>
</html>
